* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F0F0F1;
  color: #19191D;
}